@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Page Theme Colours
Light Blue: #3ADBFD
Blue: #2D9FFE
Dark Blue: #1067DD
Dark Grey: #223447
*/

::-webkit-scrollbar {
 	width: 12px;
	background: none;
}

::-webkit-scrollbar-track {
  	background: none; 
}

::-webkit-scrollbar-thumb {
  	background: rgba(0,0,0,0);
	border-radius: 6px;
	transition: 0.3s;
	border: solid #2D9FFE 3px;
}

::-webkit-scrollbar-thumb:hover {
  	background: #2D9FFE; 
}

#spacer2 {
	width: 100vw;
	height: 100vh;
}

html {
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow: overlay;
}

body {
	font-family: 'Comfortaa', cursive;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
}

#header {
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	background: rgba(255,255,255,0.5);
	z-index: 15;
	margin-top: -50vh;
	transition: 1.2s;
	backdrop-filter: blur(15px) brightness(1);
	-webkit-backdrop-filter: blur(15px) brightness(1);
}

#headerCont {
	width: 98vw;
	margin: 1vw; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#navLogo {
	width: 200px;
	height: 62px;
	/*filter: contrast(0.5) brightness(200);*/
	transition: 0.5s;
}

.navBar {
	height: inherit;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.navLink {
	height: inherit;
	padding: 0.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.navLink {
	margin: auto;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	color: #000000;
	transition: 0.3s;
}

.navLink:hover {
	color: #2D9FFE;
}

.navLinkText {
	padding: 0.5vw;
}

.navLinkIndicator {
	width: 100%;
	height: 3px;
	display: flex;
	flex-direction: row;
}

.nli1 {
	height: 3px;
	width: 0px;
	background: #1067DD;
	transition: 0.3s;
}

.nli2 {
	height: 3px;
	width: 0px;
	background: #2D9FFE;
	transition: 0.3s;
}

.nli3 {
	height: 3px;
	width: 0px;
	background: #3ADBFD;
	transition: 0.3s;
}

.navLink:hover .nli1 {
	width: 60%;
}

.navLink:hover .nli2 {
	width: 25%;
}

.navLink:hover .nli3 {
	width: 15%;
}

.icon {
	display: none;
}

.icon i {
	padding: 15px;
}

@media screen and (max-width: 1000px) {
  	.navBar a:not(:first-child) {display: none;}
  	.navBar a.icon {
    	float: right;
    	display: block;
	  	font-size: 7vw;
  	}
	.navLink {
		font-size: 5vw;
	}
	#navLogo {
		height: 10vw;
		width: 32.2vw;
		margin: 2vw;
	}
}

@media screen and (max-width: 1000px) {
	.navBar.responsive {
		position: relative;
		width: 100%;
		flex-direction: column;
	}
  	.navBar.responsive a.icon {
    	position: absolute;
   	 	right: 0;
    	top: 0;
		margin-top: -2vw;
  	}
  	.navBar.responsive a {
    	float: none;
    	display: block;
    	text-align: left;
		height: 10vw;
		margin-top: 2vw;
		margin-bottom: 2vw;
  	}
}

#headerImgCont {
	width: 100vw;
	height: 100vh;
}

#headerImgCont div {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
}

#headerDark {
	z-index: 2;
	background: url("media/header_dark.png");
	opacity: 1;
	transition: 0.5s;
}

#headerLight {
	z-index: 1;
	background: url("media/header_light.png");
}

#spacer {
	height: 75vh;
	width: 100vw;
}

@keyframes arrow {
	0% {margin-bottom: 30px; border: solid white; border-width: 0 5px 5px 0;}
	80% {margin-bottom: 55px; border: solid white; border-width: 0 5px 5px 0;}
	95% {margin-bottom: 30px; border: solid #2D9FFE; border-width: 0 5px 5px 0;}
	100% {margin-bottom: 30px; border: solid white; border-width: 0 5px 5px 0;}
}

.arrow1 {
  	border: solid white;
  	border-width: 0 7px 7px 0;
  	display: inline-block;
 	padding: 20px;
	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
}

#scrollInfo {
	width: 100vw;
	height: 100vh;
	z-index: 3;
	display: flex;
	align-content: flex-end;
	justify-content: center;
	flex-direction: column;
}

#scrollInfo i {
	margin: auto;
	margin-bottom: 30px;
	animation-name: arrow;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	opacity: 1;
}

#contentCont {
	z-index: 3;
	opacity: 1;
	position: relative;
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 100%);
}

#sec1 {
	height: 500px;
	width: 100%;
	background: white;
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 0;
	z-index: 4;
}

#sec1Cont {
	margin: auto;
	width: 80vw;
	height: 450px;
	display: flex;
	align-content: center;
	flex-direction: row;
}

#sec1Left {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 100%;
	width: 65%;
}

#sec1Title {
	font-size: 70px;
	font-weight: 700;
	margin-bottom: 30px;
}

#sec1SubTitle {
	font-size: 45px;
	margin-top: 0;
}

#sec1Right {
	width: 35%;
	display: flex;
	align-content: center;
	justify-content: center;
}

#sec1Right img {
	width: 310px;
	height: 330px;
	margin: auto;
}

.transitionCont svg {
	width: 100%;
}

.transitionCont {
	width: 100%;
	padding: 0;
	z-index: 4;
}

.upper {
	margin-bottom: -50px;
	margin-top: 0;
}

.lower {
	margin-top: -50px;
	margin-bottom: 0;
}

#sec2 {
	height: 700px;
	width: 100%;
	background: url("media/ausflag.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*background-attachment: fixed;*/
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -5vw;
	margin-bottom: -5vw;
}

#sec2Cont {
	margin: auto;
	width: 80%;
	height: 350px;
	display: flex;
	align-content: center;
	flex-direction: row;
	margin-bottom: 0;
}

#sec2Left {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 100%;
	width: 65%;
}

#sec2Title {
	font-size: 70px;
	font-weight: 700;
	margin-bottom: 30px;
}

#sec2SubTitle {
	font-size: 45px;
	margin-top: 0;
}

#sec2Right {
	width: 35%;
	display: flex;
	align-content: center;
	justify-content: center;
}

#sec2Bottom {
	width: 100%;
	margin: auto;
	margin-top: 0;
	display: flex;
	align-content: center;
	justify-content: center;
}

#sec2Right svg {
	width: 300px;
}

#teamAusCont {
	display: flex;
	align-content: center;
	justify-content: center; 
	width: 300px;
	height: 300px;
	border-radius: 200px;
	background: white;
}

.button1 {
	margin: auto;
	width: 200px;
	height: 75px;
	background: #FFFFFF;
	text-decoration: none;
	/*overflow: hidden;*/
	/*border-radius: 37.5px;*/
}

.button1PCont {
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 6;
	color: black;
	text-decoration: none;
	margin-top: -75px;
}

.button1PCont p {
	margin: auto;
	font-size: 20px;
	z-index: 6;
	transition: 0.3s;
}

.button1Indicator {
	width: 100%;
	height: 100%;
	z-index: 5;
	display: flex;
	flex-direction: row;
}

.b1-1 {
	height: 100%;
	background: #1067DD;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.b1-2 {
	height: 100%;
	background: #2D9FFE;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.b1-3 {
	height: 100%;
	background: #3ADBFD;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.button1:hover .b1-1 {
	width: 60%;
}

.button1:hover .b1-2 {
	width: 25%;
}

.button1:hover .b1-3 {
	width: 15%;
}

.button1:hover p {
	color: white;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}

#sec3 {
	width: 100%;
	background: white;
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 0;
	padding-bottom: 30px;
}

#sec3Cont {
	margin: auto;
	width: 80vw;
	margin-top: 100px;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

#sec3Title {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	margin-bottom: 20px;
}

#sec3Title p {
	margin: auto;
	font-size: 55px;
	font-weight: 700;
}

#memberCont {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content:center;
	justify-content: space-around;
	z-index: 6;
}

.memberBox {
	height: 325px;
	width: 200px;
	margin: 30px;
	background: white;
	display: flex;
	flex-direction: column;
	/*border: solid 4px #1067DD;*/
}

.memberImg {
	width: 200px;
	height: 250px;
	background: blue;
	/*border-radius: 30px;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.memberInfo {
	width: 200px;
	height: 75px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.memberInfo h3 {
	margin: auto;
	margin-top: 20px;
	font-size: 20px;
}

.memberInfo p {
	margin: auto;
	margin-top: 5px;
	font-size: 15px;
	font-weight: 700;
}

#sec3ButtonCont {
	margin: 30px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.button2 {
	height: 75px;
	width: 200px;
	border: solid 3px #1067DD;
	text-decoration: none;
	margin: auto;
	transition: 0.75s;
	overflow: hidden;
	/*border-radius: 40px;*/
}

#b21 {
	width: 300px;
}

.button2PCont {
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 6;
	color: black;
	text-decoration: none;
	margin-top: -75px;
}


.button2PCont p {
	margin: auto;
	font-size: 20px;
	z-index: 6;
	transition: 0.3s;
}

.button2Indicator {
	width: 100%;
	height: 100%;
	z-index: 5;
	display: flex;
	flex-direction: row;
}

.b2-1 {
	height: 100%;
	background: #1067DD;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.b2-2 {
	height: 100%;
	background: #2D9FFE;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.b2-3 {
	height: 100%;
	background: #3ADBFD;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.button2:hover .b2-1 {
	width: 60%;
}

.button2:hover .b2-2 {
	width: 25%;
}

.button2:hover .b2-3 {
	width: 15%;
}

.button2:hover p {
	color: white;
}

.button2:hover {
	border-color: white;
}

#ly {
	background: url("media/lukas.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#nh {
	background: url("media/nick.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#pz {
	background: url("media/preston.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#bk {
	background: url("media/bill.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#hb {
	background: url("media/harry.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#cb {
	background: url("media/charlie.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#jb {
	background: url("media/julian.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#cl {
	background: url("media/casper.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#ma {
	background: url("media/max.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#sec4 {
	width: 100%;
	background: white;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -5vw;
	margin-bottom: -5vw;
}

#sec4Cont {
	margin: auto;
	width: 80%;
	display: flex;
	align-content: center;
	flex-direction: column;
	margin-top: 7vw;
	margin-bottom: 7vw;
}

#sec4Title {
	width: 100%;
	margin: auto;
	display: flex;
	align-content: center;
	justify-content: center;
}

#sec4Title p {
	margin: auto;
	font-size: 55px;
	font-weight: 700;
}

#partnerCont {
	margin: auto;
	display: flex;
	align-content: space-around;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	background: #1067DD;
	margin-top: 50px;
	width: 47vw;
}

.partnerBox {
	width: 15vw;
	height: 15vw;
	background: rgba(255,255,255,0.2);
	margin: 0.5vw;
	display: flex;
	align-content: center;
	justify-content: center;
	transition: 0.3s;
}

.middlePB {
	margin-left: 0;
}

.lowerPB {
	margin-top: 0;
}

.partnerBox div {
	width: 10vw;
	height: 10vw;
	transition: 0.3s;
}

#pb-1 {
	background: url("media/capral.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

#pb-2 {
	background: url("media/rea.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

#pb-3 {
	background: url("media/bmgs.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

#pb-4 {
	background: url("media/newo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

#pb-5 {
	background: url("media/leap.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

#pb-6 {
	background: url("media/ansys.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

#pb-7 {
	background: url("media/o3d.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}

.partnerBox:hover {
	background: rgba(255,255,255,0.35);
}

.partnerBox:hover div {
	width: 11vw;
	height: 11vw;
}

#supportUs {
	width: 100%;
	margin: auto;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

#sup {
	margin: auto;
	font-size: 40px;
	margin-top: 50px;
	margin-bottom: 40px;
}

#sec5 {
	width: 100%;
	height: 400px;
	background: white;
	display: flex;
	align-content: center;
	justify-content: center;
}

#sec5Cont {
	margin: auto;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
}

#sec5Title {
	margin: auto;
	font-size: 50px;
}

#socialLinks {
	margin: auto;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	margin-left: 50px;
}

.socialLink {
	width: 100px;
	height: 100px;
	background: #1067DD;
	margin: 10px;
	border-radius: 50px;
	display: flex;
	align-content: center;
	justify-content: center;
	transition: 0.75s;
}

.socialLink div {
	margin: auto;
	height: 50%;
	width: 50%;
	transition: 0.2s;
}

#faceL div {
	background: url("media/facebook.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#instaL div {
	background: url("media/instagram.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#mailL div {
	background: url("media/mail.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#discordL div {
	background: url("media/discord.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.socialLink:hover div {
	height: 60%;
	width: 60%;
}

.socialLink:hover {
	background: #6BAAFF;
}

#footer {
	width: 100%;
	bottom: 0;
	background: #223447;
	margin-top: -5vw;
	display: flex;
	align-content: center;
	justify-content: center;
}

#footLogo img {
	width: 200px;
	height: 62px;
	margin-top: 0;
}

#footerCont {
	margin: auto;
	width: 90%;
	height: 80%;
	margin-top: 110px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	margin-bottom: 50px;
}

#footLeft {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-content: center;
}

#footLogo {
	margin-top: 0;
	margin: auto;
}

#footName {
	margin: auto;
	color: white;
	margin-top: 20px;
	font-size: 15px;
}

#footRight {
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: center;
}

#qm {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}

#qmTitle {
	width: 100%;
	margin: auto;
}

#qmTitle p {
	color: white;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 0;
}

#qmTitle div {
	width: 85%;
	height: 2px;
	background: #426385;
	margin-top: 0;
}

.qmLink {
	text-decoration: none;
	color: white;
	width: 130px;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 0;
	transition: 0.3s;
}

.qmLink p {
	margin: 0;
}

#qmLinks {
	width: 260px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: flex-start;
}

.qmLink:hover {
	color: #6E9CCA;
}

#qsC {
	margin: auto;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

#qs {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.qsL {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: rgba(255,255,255,0);
	margin: 2px;
	display: flex;
	align-content: center;
	justify-content: center;
	transition: 0.3s;
}

.qsL div {
	width: 70%;
	height: 70%;
	margin: auto;
}

#faceQs div {
	background: url("media/facebook.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#instaQs div {
	background: url("media/instagram.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#mailQs div {
	background: url("media/mail.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#discordQs div {
	background: url("media/discord.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.qsL:hover {
	background: rgba(255,255,255,0.2);
}

#qsTitle div {
	width: 100%;
	height: 2px;
	background: #426385;
	margin-top: 0;
}

#qsTitle p {
	color: white;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 0;
}

@media screen and (max-width: 1000px) {
	#spacer {
		height: 0vw;
	}
	
	#headerDark {
		display: none;
	}
	
	#header {
		background: white;
	}
	
	#headerImgCont {
		width: 100vw;
		height: 60vw;
		margin-bottom: -6vh;
	}

	#headerImgCont div {
		width: 100vw;
		height: 60vw;
		background-size: contain;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: top;
		position: fixed;
	}
	
	.arrow1 {
		border-width: 0 35px 35px 0;
		padding: 30px;
		margin-bottom: 10vh;
	}
	
	#scrollInfo i {
		animation: none;
		border: solid black;
		border-width: 0 7px 7px 0;
		display: none;
	}
	
	#sec1 {
		margin-top: 2vw;
		height: 130vw;
	}
	
	#sec1Cont {
		flex-direction: column;
		margin-top: 5vw;
	}
	
	#sec1Title {
		font-size: 10vw;
	}
	
	#sec1SubTitle {
		font-size: 5vw;
	}
	
	#sec1Left {
		width: 100%;
	}
	
	#sec1Right {
		width: 70vw;
		margin-top: 5vw;
	}
	
	#sec1Right img {
		width: 60vw;
		height: 60vw;
	}
	
	#sec2Title {
		font-size: 10vw;
		margin-top: 20vw;
	}
	
	#sec2SubTitle {
		font-size: 5vw;
	}
	
	#sec2 {
		height: 150vw;
	}
	
	#sec2Cont {
		flex-direction: column;
		height: 130vw;
		margin-top: -20vw;
	}
	
	#sec2Left {
		width: 100%;
	}
	
	#sec2Right {
		width: 100%;
	}
	
	#sec2Bottom {
		margin-top: 5vw;
		margin-bottom: 5vw;
	}
	
	#teamAusCont {
		width: 50vw;
		height: 50vw;
		border-radius: 25vw;
	}
	
	#teamAusCont svg {
		width: 100%;
		height: 100%;
	}
	
	#sec3 {
		margin-top: 5.5vw;
	}
	
	#sec3Cont {
		width: 95%;
		margin-bottom: 8vw;
	}
	
	#sec3Title {
		font-size: 10vw;
		width: 80%;
		margin: 7vw;
		margin-top: 0;
	}
	
	.memberBox {
		width: 30vw;
		height: 60vw;
	}
	
	.memberImg {
		width: 100%;
		height: 40vw;
	}
	
	.memberInfo {
		width: 100%;
	}
	
	.memberInfo h3 {
		font-size: 3.5vw;
	}
	
	.memberInfo p {
		font-size: 2.3vw;
	}
	
	#sec4Cont {
		margin-top: 10vw;
		margin-bottom: 10vw;
	}
	
	#sec4Title p {
		font-size: 10vw;
	}
	
	#partnerCont {
		width: 82vw;
	}
	
	.partnerBox {
		margin: 0;
		width: 40vw;
		height: 40vw;
		border: solid 0.5vw #1067DD;
	}
	
	.partnerBox div {
		width: 25vw;
		height: 25vw;
	}
	
	#sup {
		font-size: 7vw;
	}
	
	#sec5 {
		height: 120vw;
	}
	
	#sec5Cont {
		margin-top: 18vw;
	}
	
	#sec5Title {
		font-size: 10vw;
	}
	
	#socialLinks {
		flex-wrap: wrap;
		width: 72vw;
		margin: auto;
		margin-top: 5vw;
	}
	
	.socialLink {
		width: 30vw;
		height: 30vw;
		margin: 3vw;
		border-radius: 15vw;
	}
	
	#footerCont {
		flex-direction: column;
		justify-content: center;
	}
	
	#footLeft {
		width: 100%;
	}
	
	#footRight {
		width: 100%;
		margin-top: 50px;
	}
	
	.button1 {
		width: 50vw;
		height: 19vw;
	}
	
	.button1PCont {
		margin-top: -19vw;
	}
	
	.button1PCont p {
		font-size: 6vw;
	}
	
	.button2 {
		width: 50vw;
		height: 19vw;
		border: solid 1vw #1067DD;
	}
	
	.button2PCont {
		margin-top: -19vw;
	}
	
	.button2PCont p {
		font-size: 6vw;
	}
	
	#b21 {
		width: 75vw;
	}
}