@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: font;
  src: url("fonts/Adam-Medium.ttf");
}


/* Page Theme Colours
Light Blue: #3ADBFD
Blue: #2D9FFE
Dark Blue: #1067DD
Dark Grey: #223447
*/

::-webkit-scrollbar {
 	width: 12px;
	background: none;
}

::-webkit-scrollbar-track {
  	background: none; 
}

::-webkit-scrollbar-thumb {
  	background: rgba(0,0,0,0);
	border-radius: 6px;
	transition: 0.3s;
	border: solid #2D9FFE 3px;
}

::-webkit-scrollbar-thumb:hover {
  	background: #2D9FFE; 
}

html {
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow: overlay;
}

body {
	font-family: 'Comfortaa', cursive;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
}

#header {
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	background: rgba(255,255,255,0.5);
	z-index: 15;
	transition: 1.2s;
	backdrop-filter: blur(15px) brightness(1);
	-webkit-backdrop-filter: blur(15px) brightness(1);
}

#headerCont {
	width: 98vw;
	margin: 1vw; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#navLogo {
	width: 200px;
	height: 62px;
	/*filter: contrast(0.5) brightness(200);*/
	transition: 0.5s;
}

.navBar {
	height: inherit;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.navLink {
	height: inherit;
	padding: 0.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.navLink {
	margin: auto;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	color: #000000;
	transition: 0.3s;
}

.navLink:hover {
	color: #2D9FFE;
}

.navLinkText {
	padding: 0.5vw;
}

.navLinkIndicator {
	width: 100%;
	height: 3px;
	display: flex;
	flex-direction: row;
}

.nli1 {
	height: 3px;
	width: 0px;
	background: #1067DD;
	transition: 0.3s;
}

.nli2 {
	height: 3px;
	width: 0px;
	background: #2D9FFE;
	transition: 0.3s;
}

.nli3 {
	height: 3px;
	width: 0px;
	background: #3ADBFD;
	transition: 0.3s;
}

.navLink:hover .nli1 {
	width: 60%;
}

.navLink:hover .nli2 {
	width: 25%;
}

.navLink:hover .nli3 {
	width: 15%;
}

.icon {
	display: none;
}

.icon i {
	padding: 15px;
}

@media screen and (max-width: 1000px) {
  	.navBar a:not(:first-child) {display: none;}
  	.navBar a.icon {
    	float: right;
    	display: block;
	  	font-size: 7vw;
  	}
	.navLink {
		font-size: 5vw;
	}
	#navLogo {
		height: 10vw;
		width: 32.2vw;
		margin: 2vw;
	}
}

@media screen and (max-width: 1000px) {
	.navBar.responsive {
		position: relative;
		width: 100%;
		flex-direction: column;
	}
  	.navBar.responsive a.icon {
    	position: absolute;
   	 	right: 0;
    	top: 0;
		margin-top: -2vw;
  	}
  	.navBar.responsive a {
    	float: none;
    	display: block;
    	text-align: left;
		height: 10vw;
		margin-top: 2vw;
		margin-bottom: 2vw;
  	}
}

#footer {
	width: 100%;
	bottom: 0;
	background: #223447;
	display: flex;
	align-content: center;
	justify-content: center;
}

#footLogo img {
	width: 200px;
	height: 62px;
	margin-top: 0;
}

#footerCont {
	margin: auto;
	width: 90%;
	height: 80%;
	margin-top: 110px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	margin-bottom: 50px;
}

#footLeft {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-content: center;
}

#footLogo {
	margin-top: 0;
	margin: auto;
}

#footName {
	margin: auto;
	color: white;
	margin-top: 20px;
	font-size: 15px;
}

#footRight {
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-content: center;
}

#qm {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}

#qmTitle {
	width: 100%;
	margin: auto;
}

#qmTitle p {
	color: white;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 0;
}

#qmTitle div {
	width: 85%;
	height: 2px;
	background: #426385;
	margin-top: 0;
}

.qmLink {
	text-decoration: none;
	color: white;
	width: 130px;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 0;
	transition: 0.3s;
}

.qmLink p {
	margin: 0;
}

#qmLinks {
	width: 260px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: flex-start;
}

.qmLink:hover {
	color: #6E9CCA;
}

#qsC {
	margin: auto;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

#qs {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.qsL {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: rgba(255,255,255,0);
	margin: 2px;
	display: flex;
	align-content: center;
	justify-content: center;
	transition: 0.3s;
}

.qsL div {
	width: 70%;
	height: 70%;
	margin: auto;
}

#faceQs div {
	background: url("media/facebook.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#instaQs div {
	background: url("media/instagram.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#mailQs div {
	background: url("media/mail.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#discordQs div {
	background: url("media/discord.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.qsL:hover {
	background: rgba(255,255,255,0.2);
}

#qsTitle div {
	width: 100%;
	height: 2px;
	background: #426385;
	margin-top: 0;
}

#qsTitle p {
	color: white;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 0;
}

.headerImg {
	width: 100vw;
	height: 100vh;
}

#hiAboutUs {
	background: url("media/about-us_header.png");
	background-size: cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position: center;
}

#hiAboutF1S {
	margin-top: calc(2vw + 62px);
	background: url("media/start_gate.png");
	background-size: cover;
	background-attachment:none;
	background-repeat: no-repeat;
	background-position: top;
}

#hiContactUs {
	margin-top: calc(2vw + 62px);
	background: url("media/contact-us.png");
	background-size: cover;
	background-attachment:none;
	background-repeat: no-repeat;
	background-position: top;
	height: 50vh;
}

.transitionCont svg {
	width: 100%;
}

.transitionCont {
	width: 100%;
	padding: 0;
	z-index: 4;
}

.lower {
	margin-bottom: -60px;
	margin-top: 0;
}

.upper {
	margin-top: -60px;
	margin-bottom: 0;
}

.section1 {
	background: white;
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	margin: 0;
}

.section1Cont {
	margin: auto;
	width: 80%;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.section2Cont {
	margin: auto;
	width: 80%;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}

.section1Title {
	margin: auto;
	font-size: 70px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 0;
	margin-top: 40px;
}

.section1SubTitle {
	margin: auto;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 0;
	margin-top: 40px;
}

.section2SubTitle {
	margin: auto;
	font-size: 50px;
	width: 100%;
	font-weight: 700;
	text-align: left;
	margin-bottom: 0;
	margin-top: 40px;
}

.section1Text {
	margin: auto;
	width: 80%;
	font-size: 30px;
	text-align: center;
	line-height: 1.5em;
	margin-top: 40px;
	margin-bottom: 40px;
}

.section2Text {
	margin: auto;
	width: 100%;
	font-size: 25px;
	text-align: left;
	line-height: 1.5em;
	margin-top: 30px;
}

.section2Text2 {
	margin: auto;
	width: 100%;
	font-size: 25px;
	text-align: left;
	line-height: 1.5em;
	margin-top: 30px;
}

.section1Quote {
	margin: auto;
	font-size: 50px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 65%;
	font-style: italic;
}

.section1Quote span {
	font-weight: 700;
	font-style:normal;
}

.smallQuote {
	font-size: 40px;
	margin-bottom: 0;
}

.section2Half {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: 50%;
}

.caption1 {
	margin: auto;
	font-size: 20px;
	text-align: left;
	font-style: italic;
	color: #525252;
}

#rvBefore {
	width: 38vw;
	margin: 1vw;
}

#revealVideo {
	width: 38vw;
	margin: 1vw;
}

#revealVideo iframe {
	margin: auto;
	width: 38vw;
	height: 21.375vw;
	margin-bottom: 0;
}

#revealVideo .caption1 {
	width: 100%;
	margin-top: 10px;
}

.sec2Img {
	width: 35vw;
	height: 25vw;
	margin: auto;
}

.imgCont {
	align-content: center;
}

.imgAlign {
	margin-left: 3vw;
	margin-bottom: 1vw;
}

.capAlign {
	width: 95%;
	margin-top: 0;
	margin-left: 3vw;
}

.adjust1-1 {
	width: 55%;
}

.adjust1-2 {
	width: 45%;
}

.imgAlign2 {
	margin-right: 3vw;
	margin-bottom: 1vw;
}

.capAlign2 {
	width: 95%;
	margin-top: 0;
	margin-right: 3vw;
}

.adjust2-1 {
	width: 55%;
}

.adjust2-2 {
	width: 45%;
}

.lowH {
	height: 15vw;
}

.topImg {
	margin-top: 3vw;
}

.adjust2-1 p {
	margin-left: 3vw;
}

#wf2019 {
	background: url("media/wf2019.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#cad {
	background: url("media/cad.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#wind {
	background: url("media/wind_tunnel.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#display {
	background: url("media/display.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 35vw;
	height: 30vw;
}

.section1Cont svg {
	width: 50vw;
	height: 50vw;
	margin: auto;
}

#teamDesc {
	width: 50vw;
	margin-top: -4vw;
}

#b31 {
	width: 320px;
}

#b32 {
	width: 320px;
}


.buttonCont {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
}

.sec3ButtonCont {
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 1vw;
}

.button2 {
	height: 75px;
	width: 200px;
	border: solid 3px #1067DD;
	text-decoration: none;
	margin: auto;
	transition: 0.75s;
	overflow: hidden;
	/*border-radius: 40px;*/
}

.button2PCont {
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 6;
	color: black;
	text-decoration: none;
	margin-top: -75px;
	font-family: 'Comfortaa', cursive;
}

.button2PCont p {
	margin: auto;
	font-size: 20px;
	z-index: 6;
	transition: 0.3s;
}

.button2Indicator {
	width: 100%;
	height: 100%;
	z-index: 5;
	display: flex;
	flex-direction: row;
}

.b2-1 {
	height: 100%;
	background: #1067DD;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.b2-2 {
	height: 100%;
	background: #2D9FFE;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.b2-3 {
	height: 100%;
	background: #3ADBFD;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.button2:hover .b2-1 {
	width: 60%;
}

.button2:hover .b2-2 {
	width: 25%;
}

.button2:hover .b2-3 {
	width: 15%;
}

.button2:hover p {
	color: white;
}

.button2:hover {
	border-color: white;
}

#teamsCont {
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 50px;
}

.team {
	width: 30vw;
	padding: 3vw;
	margin: auto;
	border-radius: 1vw;
	display: flex;
	align-content: space-around;
	justify-content: space-around;
	flex-direction: column;
	margin-top: 80px;
	height: 100%;
}

#pp {
	background:#161616;
	color: white;
	border: solid 0.5vw #7400FF;
	font-family: 'Roboto', sans-serif;
}

#ao {
	background: white;
	color: black;
	border: solid 0.5vw #2FB1DE;
	font-family: font;
}

.teamLogo {
	margin: auto;
	width: 30vw;
	height: 12vw;
}

#ppLogo {
	background: url("media/perpetrol.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#aoLogo {
	background: url("media/aeolus.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.teamPhoto {
	margin: auto;
	width: 30vw;
	height: 15vw;
	border-radius: 1vw;
	margin-top: 50px;
}

#ppPhoto {
	background: url("media/ppteam.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#aoPhoto {
	background: url("media/aoteam.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.teamPlace {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.teamPlace p {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 0;
}

#aoPlace p {
	font-weight: 600;
}

.teamPlace h2 {
	font-size: 100px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
}

.teamAward {
	margin: auto;
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 10px;
	padding: 15px;
	border-radius: 0.5vw;
}

.ppAward {
	border: solid 0.25vw #00A3FF;
}

.aoAward {
	border: solid 0.25vw #2FB1DE;
}

#pp .button2 {
	border: solid 0.25vw #00A3FF;
	margin-top: 20px;
	border-radius: 0.25vw;
}

#pp .button2:hover {
	border: solid 0.25vw rgba(0,0,0,0);
	margin-top: 20px;
	border-radius: 0.25vw;
}

#pp .button2 p {
	font-size: 25px;
	color: white;
}

#ao .button2 {
	border: solid 0.25vw #2FB1DE;
	margin-top: 20px;
	border-radius: 0.25vw;
}

#ao .button2:hover {
	border: solid 0.25vw rgba(255,255,255,0);
	margin-top: 20px;
	border-radius: 0.25vw;
}

#ao .button2 p {
	font-size: 25px;
	font-weight: 600;
}

#pp .b2-1 {
	height: 100%;
	background: #00A3FF;
}

#pp .b2-2 {
	height: 100%;
	background: #0089FF;
}

#pp .b2-3 {
	height: 100%;
	background: #7400FF;
}

#ao .b2-1 {
	height: 100%;
	background: #2FB1DE;
}

#ao .b2-2 {
	height: 100%;
	background: #23A2CE;
}

#ao .b2-3 {
	height: 100%;
	background: #E6D231;
}

#memberCont {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.memberBox {
	margin: auto;
	width: 35vw;
	height: 15vw;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	padding: 2.5vw;
}

.memberImg {
	height: 15vw;
	width: 10vw;
	margin: auto;
}

.memberCont {
	width: 25vw;
	height: 15vw;
	margin: auto;
	background: white;
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: center;
}

.memberCont p {
	margin: auto;
	width: 80%;
}

.affil {
	width: 10vw;
	padding: 3vw;
	flex-direction: column;
	height: 25vw;
}

.affil .memberImg {
	width: 10vw;
	height: 15vw;
}

.affil .memberCont {
	width: 10vw;
	height: 10vw;
}

.memberName {
	font-weight: 700;
	font-size: 1.7vw;
	margin-bottom: 0;
}

.memberRole {
	font-size: 1.3vw;
	font-style: italic;
	font-weight: 600;
}

.memberText {
	font-size: 1.1vw;
}

.affil .memberCont .memberRole {
	font-size: 1.1vw;
	margin-top: 0;
}

.affil .memberCont p {
	text-align: center;
}

#ly {
	background: url("media/lukas.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#nh {
	background: url("media/nick.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#pz {
	background: url("media/preston.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#bk {
	background: url("media/bill.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#hb {
	background: url("media/harry.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#cb {
	background: url("media/charlie.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#jb {
	background: url("media/julian.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#cl {
	background: url("media/casper.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#ma {
	background: url("media/max.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.but {
	background: none;
	border: none;
}

.formCont {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

.contactForm {
	margin: auto;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
}

input {
	width: 800px;
	font-size: 20px;
	border: solid 3px #B5C1D0;
	font-family: 'Comfortaa', cursive;
	padding: 10px;
	margin-bottom: 10px;
	resize: vertical;
	box-sizing: border-box;
}

textarea {
	width: 800px;
	font-size: 20px;
	border: solid 3px #B5C1D0;
	font-family: 'Comfortaa', cursive;
	padding: 10px;
	margin-bottom: 10px;
	resize: vertical;
	box-sizing: border-box;
}

.formDiv {
	width: 100%;
	margin-top: 50px;
	height: 2px;
	background: #E7EBF0;
}

.contactInfoCont {
	margin: auto;
	width: 800px;
	display: flex;
	align-content: center;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 100px;
}

.contactBox {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;
}

.contactTitle {
	font-size: 25px;
	font-weight: 700;
	color: #1067DD;
	margin-bottom: 0;
}

.contactDiv {
	width: 100%;
	height: 2px;
	background: #E7EBF0;
	margin-top: 10px;
	margin-bottom: 10px;
}

.contactText {
	margin: 0;
	margin-bottom: 6px;
	margin-top: 6px;
	font-size: 18px;
	font-weight: 500;
}

@media screen and (max-width: 1000px) {
	#header {
		background: white;
	}
	
	#headerImgCont {
		width: 100vw;
		height: 60vw;
		margin-bottom: -6vh;
	}

	#headerImgCont div {
		width: 100vw;
		height: 60vw;
		background-size: contain;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: top;
		position: fixed;
	}
	
	#footerCont {
		flex-direction: column;
		justify-content: center;
	}
	
	#footLeft {
		width: 100%;
	}
	
	#footRight {
		width: 100%;
		margin-top: 50px;
	}
	
	.section2Cont {
		flex-direction: column;
	}
	
	.button2 {
		width: 50vw;
		height: 19vw;
		border: solid 1vw #1067DD;
	}
	
	.button2PCont {
		margin-top: -19vw;
	}
	
	.button2PCont p {
		font-size: 6vw;
	}
	
	#b31 {
		width: 80vw;
		height: 19vw;
	}

	#b32 {
		width: 70vw;
		height: 19vw;
	}

	#pp {
		border: solid 1.5vw #7400FF;
		border-radius: 3vw;
	}

	#ao {
		border: solid 1.5vw #2FB1DE;
		border-radius: 3vw;
		font-family: 'Roboto', sans-serif;
	}
	
	#pp .button2 {
		border: solid 1vw #2FB1DE;
		border-radius: 1vw;
	}
	
	#ao .button2 {
		border: solid 1vw #00A3FF;
		border-radius: 1vw;
	}
	
	#pp .button2:hover {
		border: solid 1vw rgba(0,0,0,0);
		border-radius: 1vw;
	}
	
	#ao .button2:hover {
		border: solid 1vw rgba(0,0,0,0);
		border-radius: 1vw;
	}
	
	#pp .button2 p {
		font-size: 6vw;
	}
	
	#ao .button2 p {
		font-size: 6vw;
	}
	
	#rvBefore {
		width: 100%;
	}
	
	#revealVideo {
		width: 100%;
	}
	
	#revealVideo iframe {
		width: 80vw;
		height: 45vw;
	}
	
	#teamsCont {
		flex-direction: column;
	}
	
	.team {
		width: 80%;
	}
	
	.teamLogo {
		width: 70vw;
		height: 30vw;
	}
	
	.teamPhoto {
		width: 70vw;
		height: 35vw;
	}
	
	.teamPlace {
		width: 70vw;
		margin: auto;
		margin-top: 5vw;
		margin-bottom: 5vw;
	}
	
	.teamAward {
		border: none;
	}
	
	.memberCont {
		flex-direction: column;
	}
	
	.memberBox {
		width: 70vw;
		height: 30vw;
	}
	
	.memberImg {
		width: 20vw;
		height: 30vw;
	}
	
	.memberCont {
		width: 50vw;
		height: 30vw;
	}
	
	.affil {
		width: 20vw;
		height: 50vw;
	}
	
	.affil .memberCont {
		width: 20vw;
		height: 20vw;
	}
	
	.affil .memberImg {
		width: 20vw;
		height: 30vw;
	}
	
	.memberName {
		font-size: 4.5vw;
	}
	
	.memberRole {
		font-size: 3vw;
	}
	
	.memberText {
		font-size: 2vw;
	}
	
	.affil .memberCont .memberRole {
		font-size: 2.5vw;
	}
	
	.section2Half {
		flex-direction: column;
		width: 100%;
	}
	
	.sec2Img {
		width: 80vw;
		height: 50vw;
		margin: auto;
		margin-top: 5vw;
		margin-bottom: 5vw;
	}
	
	.caption1 {
		margin: auto;
	}
	
	.reverseFlow {
		flex-direction: column-reverse;
	}
	
	#display {
		width: 80vw;
		height: 70vw;
		margin: auto;
		margin-top: 5vw;
		margin-bottom: 5vw;
	}
	
	.section1Cont svg {
		width: 80vw;
		min-height: 80vw;
	}
	
	#teamDesc {
		width: 100%;
	}
	
	.buttonCont {
		flex-direction: column;
	}
	
	#hiAboutUs {
		margin-top: calc(2vw + 62px);
		background: url("media/about-us_header.png");
		background-size: cover;
		background-attachment:none;
		background-repeat: no-repeat;
		background-position: top;
	}
	
	.section1Text {
		font-size: 5.25vw;
	}
	
	.section1Quote.smallQuote {
		font-size: 6.75vw;
		width: 100%;
	}
	
	.section1Title {
		font-size: 12vw;
	}
	
	.section2SubTitle {
		font-size: 10vw;
	}
	
	.section2Text {
		font-size: 5.25vw;
	}
	
	.section2Text2 {
		font-size: 5.25vw;
	}
	
	.caption1 {
		font-size: 4.5vw;
	}
	
	input {
		width: 80vw;
		border: solid 0.75vw #B5C1D0;
		font-size: 5vw;
		padding: 2vw;
		margin-bottom: 4vw;
	}
	
	textarea {
		width: 80vw;
		border: solid 0.75vw #B5C1D0;
		font-size: 5vw;
		padding: 2vw;
		margin-bottom: 3vw;
	}
	
	.formDiv {
		height: 0.5vw;
	}
	
	.contactInfoCont {
		flex-direction: column;
	}
	
	.contactBox {
		width: 80vw;
	}
	
	.contactTitle {
		font-size: 6vw;
	}

	.contactDiv {
		height: 0.5vw;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.contactText {
		margin: 0;
		margin-bottom: 6px;
		margin-top: 6px;
		font-size: 4.5vw;
		font-weight: 500;
	}
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}
