@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Page Theme Colours

Light Blue: #3ADBFD
Blue: #2D9FFE
Dark Blue: #1067DD

*/

::-webkit-scrollbar {
 	width: 12px;
	background: none;
}

::-webkit-scrollbar-track {
  	background: none; 
}

::-webkit-scrollbar-thumb {
  	background: rgba(0,0,0,0);
	border-radius: 6px;
	transition: 0.3s;
	border: solid #2D9FFE 3px;
}

::-webkit-scrollbar-thumb:hover {
  	background: #2D9FFE; 
}

#spacer2 {
	width: 100vw;
	height: 100vh;
}

html {
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow: overlay;
}

body {
	font-family: 'Comfortaa', cursive;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
}

#header {
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	background: rgba(255,255,255,0.5);
	z-index: 15;
	margin-top: -50vh;
	transition: 1.2s;
	backdrop-filter: blur(15px) brightness(1);
}

#headerCont {
	width: 98vw;
	margin: 1vw; 
	display: flex;
	justify-content: space-between;
}

#navLogo {
	width: 200px;
	height: 62px;
	/*filter: contrast(0.5) brightness(200);*/
	transition: 0.5s;
}

#navBar {
	height: inherit;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.navLink {
	height: inherit;
	padding: 0.5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.navLink a {
	margin: auto;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	color: #000000;
	transition: 0.3s;
}

.navLink a:hover {
	color: #2D9FFE;
}

.navLinkText {
	padding: 0.5vw;
}

.navLinkIndicator {
	width: 100%;
	height: 3px;
	display: flex;
	flex-direction: row;
}

.nli1 {
	height: 3px;
	width: 0px;
	background: #1067DD;
	transition: 0.3s;
}

.nli2 {
	height: 3px;
	width: 0px;
	background: #2D9FFE;
	transition: 0.3s;
}

.nli3 {
	height: 3px;
	width: 0px;
	background: #3ADBFD;
	transition: 0.3s;
}

.navLink:hover .nli1 {
	width: 60%;
}

.navLink:hover .nli2 {
	width: 25%;
}

.navLink:hover .nli3 {
	width: 15%;
}

#headerImgCont {
	width: 100vw;
	height: 100vh;
}

#headerImgCont div {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	position: fixed;
}

#headerDark {
	z-index: 2;
	background: url("media/header_dark.png");
	opacity: 1;
	transition: 0.5s;
}

#headerLight {
	z-index: 1;
	background: url("media/header_light.png");
}

#spacer {
	height: 75vh;
	width: 100vw;
}

@keyframes arrow {
	0% {margin-bottom: 30px; border: solid white; border-width: 0 5px 5px 0;}
	80% {margin-bottom: 55px; border: solid white; border-width: 0 5px 5px 0;}
	95% {margin-bottom: 30px; border: solid #2D9FFE; border-width: 0 5px 5px 0;}
	100% {margin-bottom: 30px; border: solid white; border-width: 0 5px 5px 0;}
}

.arrow1 {
  	border: solid white;
  	border-width: 0 7px 7px 0;
  	display: inline-block;
 	padding: 20px;
	transform: rotate(45deg);
  	-webkit-transform: rotate(45deg);
}

#scrollInfo {
	width: 100vw;
	height: 100vh;
	z-index: 3;
	display: flex;
	align-content: flex-end;
	justify-content: center;
	flex-direction: column;
}

#scrollInfo i {
	margin: auto;
	margin-bottom: 30px;
	animation-name: arrow;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	opacity: 1;
}

#contentCont {
	z-index: 3;
	opacity: 1;
	position: relative;
}

#sec1 {
	height: 500px;
	width: 100%;
	background: white;
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 0;
}

#sec1Cont {
	margin: auto;
	width: 80vw;
	height: 450px;
	display: flex;
	align-content: center;
	flex-direction: row;
}

#sec1Left {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 100%;
	width: 65%;
}

#sec1Title {
	font-size: 70px;
	font-weight: 700;
	margin-bottom: 30px;
}

#sec1SubTitle {
	font-size: 45px;
	margin-top: 0;
}

#sec1Right {
	width: 35%;
	display: flex;
	align-content: center;
	justify-content: center;
}

#sec1Right path {
	fill: #2D9FFE;
}

#sec1Right svg {
	width: 310px;
	height: auto;
}

.transitionCont svg {
	width: 100%;
}

.transitionCont {
	width: 100%;
	padding: 0;
	z-index: 4;
}

.upper {
	margin-bottom: -50px;
}

.lower {
	margin-top: -50px;
}

#sec2 {
	height: 700px;
	width: 100%;
	background: url("media/ausflag.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	margin-top: -100px;
	margin-bottom: -100px;
}

#sec2Cont {
	margin: auto;
	width: 80%;
	height: 350px;
	display: flex;
	align-content: center;
	flex-direction: row;
	margin-bottom: 0;
}

#sec2Left {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 100%;
	width: 65%;
}

#sec2Title {
	font-size: 70px;
	font-weight: 700;
	margin-bottom: 30px;
}

#sec2SubTitle {
	font-size: 45px;
	margin-top: 0;
}

#sec2Right {
	width: 35%;
	display: flex;
	align-content: center;
	justify-content: center;
}

#sec2Bottom {
	width: 100%;
	margin: auto;
	margin-top: 0;
	display: flex;
	align-content: center;
	justify-content: center;
}

#sec2Right svg {
	width: 400px;
}

.button1 {
	margin: auto;
	width: 200px;
	height: 75px;
	background: #FFFFFF;
}

.button1PCont {
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 6;
	color: black;
	text-decoration: none;
	margin-top: -75px;
}

.button1 {
	text-decoration: none;
}

.button1PCont p {
	margin: auto;
	font-size: 20px;
	z-index: 6;
	transition: 0.3s;
}

.button1Indicator {
	width: 100%;
	height: 100%;
	z-index: 5;
	display: flex;
	flex-direction: row;
}

.b1-1 {
	height: 100%;
	background: #1067DD;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.b1-2 {
	height: 100%;
	background: #2D9FFE;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.b1-3 {
	height: 100%;
	background: #3ADBFD;
	width: 0px;
	transition: 0.3s ease;
	z-index: 5;
}

.button1:hover .b1-1 {
	width: 60%;
}

.button1:hover .b1-2 {
	width: 25%;
}

.button1:hover .b1-3 {
	width: 15%;
}

.button1:hover p {
	color: white;
}

#teamAusCont {
	display: flex;
	align-content: center;
	justify-content: center; 
	width: 400px;
	height: 400px;
	border-radius: 200px;
	background: white;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}











