@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

/* Page Theme Colours
Light Blue: #3ADBFD
Blue: #2D9FFE
Dark Blue: #1067DD
Dark Grey: #223447
*/

::-webkit-scrollbar {
 	width: 12px;
	background: none;
}

::-webkit-scrollbar-track {
  	background: none; 
}

::-webkit-scrollbar-thumb {
  	background: rgba(0,0,0,0);
	border-radius: 6px;
	transition: 0.3s;
	border: solid #ffffff 3px;
}

::-webkit-scrollbar-thumb:hover {
  	background: #2D9FFE; 
}

html {
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow: overlay;
	scroll-behavior: smooth;
}

body {
	font-family: 'Comfortaa', cursive;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	background: #3ADBFD;
}

.container {
	margin: auto;
	width: 80vw;
	padding: 5vw;
	margin-top: 5vw;
	background: #ffffff;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 5vw;
}

.box {
	margin: auto;
}

.header {
	height: 20vw;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 5vw;
}

#navLogo {
	width: 63.75vw;
	height: 19.7625vw;
	margin: auto;
}

.links {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

.link {
	margin: 5vw auto 0 auto;
	font-size: 5vw;
	text-decoration: none;
	background: #2D9FFE;
	color: #ffffff;
	width: 60vw;
	padding: 5vw;
	display: flex;
	align-content: center;
	justify-content: center;
	transition: 0.2s;
}

.link p {
	margin: auto;
}

.icon {
	width: 4vw;
	height: 4vw;
}

.link:hover {
	background: #1067DD;
}

.discord {
	width: 5.4vw;
}

.gfm {
	width: 7vw;
}

.phone {
	width: 2.5vw;
}

.footer {
	font-size: 3vw;
	padding: 5vw 0 0 0;
}